<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.house.services.domain.dao.FacilitatePeopleCommentMapper">

    <sql id="FacilitatePeopleCommentDao_Column_List">
        `t_house_facilitate_people_comment`.`id`,
        `t_house_facilitate_people_comment`.`uid`,
        `t_house_facilitate_people_comment`.`create_time`,
        `t_house_facilitate_people_comment`.`facilitate_people_id`,
        `t_house_facilitate_people_comment`.`user_id`,
        `t_house_facilitate_people_comment`.`value`,
        `t_house_facilitate_people_comment`.`is_anonymous` AS `anonymous`,

        `t_end_user`.`name` AS `username`,
        `t_end_user`.`avatar` AS `avatar`
    </sql>

    <select id="findCommentDTOByFacilitatePeopleId" resultType="FacilitatePeopleCommentDTO" >
        SELECT
            <include refid="FacilitatePeopleCommentDao_Column_List" />
        FROM
            `t_house_facilitate_people_comment`
        JOIN
            `t_end_user` ON `t_end_user`.`id` = `t_house_facilitate_people_comment`.`user_id`
        WHERE
            `t_house_facilitate_people_comment`.`facilitate_people_id` = #{facilitatePeopleId} AND `t_house_facilitate_people_comment`.`is_deleted` != 1
    </select>

    <select id="countCommentByFacilitatePeopleIdAndUserId" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `t_house_facilitate_people_comment`
        WHERE
            `facilitate_people_id` = #{facilitatePeopleId} AND `user_id` = #{userId}
    </select>

</mapper>